{% extends 'base.html' %}

{% block content %}

    <main class="container py-5">
        <section class="card card-body">
            <h1 class="display-1 text-center">Django App</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto, molestiae corporis saepe pariatur earum, quaerat enim illum perferendis consectetur commodi veritatis sint ipsam, eveniet optio delectus eligendi laborum! Illo ipsum officiis aliquam minus debitis! Inventore voluptate distinctio labore expedita nobis, velit cumque ratione totam dolores delectus fuga commodi. Nobis repellat voluptatem aut tenetur hic ut natus asperiores totam, eos, dignissimos maxime quos aliquam expedita numquam possimus esse praesentium debitis sint saepe molestiae? Velit sunt pariatur incidunt totam ut expedita iste sit, impedit hic tenetur voluptates debitis molestiae id, veniam assumenda corrupti numquam sed? Eum ex cum saepe, ea vitae eveniet?</p>

            {% if not user.is_authenticated %}

            <div class="text-center">
                <a class="btn btn-secondary" href="/signin">
                    Signin
                </a>
                <a class="btn btn-dark" href="/signup">
                    Signup
                </a>
            </div>

            {% endif %}
        </section>
    </main>
    
{% endblock %}