{% extends 'base.html' %}

{% block content %}

    <h1>Home</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur excepturi voluptatem, omnis quis voluptatibus labore ullam, natus accusantium debitis alias tempora voluptatum amet, ratione illo possimus fugiat soluta fuga maxime sit doloribus maiores? Itaque officia, cum esse tempora excepturi delectus accusantium, libero blanditiis minima ipsa pariatur quidem? Dolore mollitia expedita quis corrupti voluptatem similique necessitatibus facere libero. Corrupti ut doloribus pariatur repudiandae accusantium. Facilis ut esse corporis quod veniam repellendus corrupti eaque molestiae nisi saepe facere nihil delectus vel eius voluptas voluptate magnam ab, inventore reprehenderit neque beatae! Reprehenderit officia officiis ipsam quasi hic saepe consequatur, quo ab odit sit?</p>
    
{% endblock %}